{% extends 'main/layout.html' %} {% block title %}Мероприятия{% endblock %}
{% load custom_filters %}
{%block content %}

<h2 class="events-title">Мероприятия</h2>
<div class="filter-block">
	<button class="filter-btn">
		<svg width="20" height="20" viewBox="0 0 24 24">
			<path d="M3 5h18v2H3zm4 6h10v2H7zm6 6h4v2h-4z" />
		</svg>
		Фильтры
	</button>
	<ul class="filter-list">
		<li>
			<label><input type="checkbox" /> Образовательные</label>
		</li>
		<li>
			<label><input type="checkbox" /> Развлекательные</label>
		</li>
		<li>
			<label><input type="checkbox" /> Рабочее</label>
		</li>
		<li>
			<label><input type="checkbox" /> ...</label>
		</li>
	</ul>
</div>
<div class="events-grid">
    {% for event in events %}
    <div class="event-card">
        <img src="{{ event.image.url }}" alt="{{ event.title }}" class="event-img" />
        <div class="event-body">
            <h3 class="event-title">{{ event.title }}</h3>
            <p class="event-info">
                <span class="event-city">{{ event.city }}</span><br/>
                <span class="event-date">{{ event.start_datetime|date:"l" }}, {{ event.start_datetime|ru_date }}</span>
            </p>
            <a href="#" class="event-btn">Подробнее</a>
        </div>
    </div>
    {% empty %}
    <p>Мероприятия не найдены.</p>
    {% endfor %}
</div>

{% endblock %}
