{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link href="static/css/style.css" rel="stylesheet" />
		<link href="static/css/outline.css" rel="stylesheet" />
		<link href="static/css/outline-settings.css" rel="stylesheet" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
			crossorigin="anonymous" />
		<script defer src="../../static/js/scripts.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %} {% endblock %}</title>
	</head>
	<body>
		<aside class="left-menu">
			<img
				class="user-image"
				src="static/img/user.svg"
				alt="Фото пользователя"
				width="80px"
				height="90px" />

			{% if user.is_authenticated %}
			<h2 class="name">{{ user.first_name }} {{ user.last_name }}</h2>
			<form action="{% url 'logout' %}" method="post">
				{% csrf_token %}
				<button type="submit" class="exit-button">
					<img
						class="exit-image"
						src="{% static 'img/exit.svg' %}"
						alt="Иконка выхода"
						width="30px"
						height="35px" />
				</button>
			</form>
			{% else %}
			<h2 class="name">Гость</h2>
			<a
				class="btn btn-primary"
				data-bs-toggle="modal"
				href="#exampleModalToggle"
				role="button"
				>Войти</a
			>
			{% endif %}
			<ul class="menu-navigation-list">
				<li class="menu-navigation-item">
					<img
						class="calendar-image"
						src="static/img/calendar.svg"
						alt="Календарь"
						width="20px"
						height="20px" />
					<a href="#">Расписание</a>
				</li>
				<li class="menu-navigation-item">
					<img
						class="find-image"
						src="static/img/filter.svg"
						alt="Поиск мероприятий"
						width="20px"
						height="20px" />
					<a href="#">Мероприятия</a>
				</li>
				<li class="menu-navigation-item">
					<img
						class="share-image"
						src="static/img/action.svg"
						alt="Создание мероприятия"
						width="20px"
						height="20px" />
					<a href="#">Создать мероприятие</a>
				</li>
			</ul>
		</aside>

		<div
			class="modal fade"
			id="exampleModalToggle"
			aria-hidden="true"
			aria-labelledby="exampleModalToggleLabel"
			tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1
							class="modal-title fs-5"
							id="exampleModalToggleLabel">
							Авторизация
						</h1>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form id="loginForm">
							{% csrf_token %}
							<div class="mb-3">
								<label for="id_username" class="form-label"
									>Логин</label
								>
								<input
									type="text"
									class="form-control"
									id="id_username"
									name="username" />
							</div>
							<div class="mb-3">
								<label for="id_password" class="form-label"
									>Пароль</label
								>
								<input
									type="password"
									class="form-control"
									id="id_password"
									name="password" />
							</div>
							<div
								id="error-message"
								style="color: red; display: none">
								Неверный логин или пароль.
							</div>
							<button type="submit" class="btn btn-primary">
								Войти
							</button>
						</form>
					</div>
					<div class="modal-footer">
						<button
							class="btn btn-secondary"
							data-bs-target="#exampleModalToggle"
							data-bs-dismiss="modal">
							Закрыть
						</button>
						<button
							class="btn btn-primary"
							data-bs-target="#exampleModalToggle2"
							data-bs-toggle="modal">
							Нет аккаунта?
						</button>
					</div>
				</div>
			</div>
		</div>
		<div
			class="modal fade"
			id="exampleModalToggle2"
			aria-hidden="true"
			aria-labelledby="exampleModalToggleLabel2"
			tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1
							class="modal-title fs-5"
							id="exampleModalToggleLabel2">
							Регистрация
						</h1>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="form-group" style="margin-top: 5px">
							<label>Логин:</label>
							<input
								type="text"
								class="form-control"
								id="login"
								name="login"
								required />
						</div>
						<div class="form-group" style="margin-top: 5px">
							<label>Имя:</label>
							<input
								type="text"
								class="form-control"
								id="name"
								name="name"
								required />
						</div>
						<div class="form-group" style="margin-top: 5px">
							<label>Фамилия:</label>
							<input
								type="text"
								class="form-control"
								id="surname"
								name="surname"
								required />
						</div>
						<div class="form-group" style="margin-top: 5px">
							<label>Email:</label>
							<input
								type="email"
								class="form-control"
								id="email"
								name="email"
								required />
						</div>
						<div class="form-group" style="margin-top: 5px">
							<label>Пароль:</label>
							<input
								type="password"
								class="form-control"
								id="password"
								name="password"
								required />
						</div>
					</div>
					<div class="modal-footer">
						<button
							class="register-button btn btn-success"
							type="button">
							Добавить
						</button>
						<button
							type="button"
							class="btn btn-secondary"
							data-bs-dismiss="modal">
							Закрыть окно
						</button>
					</div>
				</div>
			</div>
		</div>

		<main>{% block content %} {% endblock %}</main>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
			crossorigin="anonymous"></script>
		<!-- Включение jQuery и ajax для отправки формы без перезагрузки -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script>
			$('#loginForm').submit(function (event) {
				event.preventDefault(); // предотвращаем стандартное отправление формы
				let username = $('#id_username').val();
				let password = $('#id_password').val();

				$.ajax({
					type: 'POST',
					url: '{% url "login" %}', // это URL для логина
					data: {
						username: username,
						password: password,
						csrfmiddlewaretoken: $(
							'input[name="csrfmiddlewaretoken"]',
						).val(),
					},
					success: function (response) {
						if (response.status === 'success') {
							// Успешный логин, закрыть модальное окно и обновить страницу
							$('#loginModal').modal('hide');
							location.reload();
						} else {
							// Ошибка логина, показываем сообщение об ошибке
							$('#error-message').show();
						}
					},
					error: function () {
						$('#error-message').show(); // показываем ошибку в случае серверной ошибки
					},
				});
			});
		</script>

		<script>
			$(document).ready(function () {
				$('.register-button').on('click', function () {
					var login = $('#login').val();
					var name = $('#name').val();
					var surname = $('#surname').val();
					var email = $('#email').val();
					var password = $('#password').val();

					$.ajax({
						url: "{% url 'register' %}",
						method: 'POST',
						data: {
							login: login,
							name: name,
							surname: surname,
							email: email,
							password: password,
							csrfmiddlewaretoken: '{{ csrf_token }}',
						},
						success: function (response) {
							if (response.success) {
								alert('Регистрация прошла успешно!');
								location.reload();
							} else {
								alert('Произошла ошибка: ' + response.message);
							}
						},
						error: function () {
							alert('Произошла ошибка при отправке запроса!');
						},
					});
				});
			});
		</script>
	</body>
</html>
